@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800&display=swap');

@import "tailwindcss";

@tailwind utilities;

body {
  font-family: 'Nunito Sans', sans-serif;
}

.normal_btn {
  background: var(--Light-Gradiant, linear-gradient(90deg, #FFDF00 0%, #FDCC0D 100%));
  cursor: pointer;
}

.normal_btn1 {
  background: var(--Dark-Gradiant, linear-gradient(90deg, #FDCC0D 0%, #FF9529 100%));
  cursor: pointer;
}

.normal_btn:hover {
  background: var(--Dark-Gradiant, linear-gradient(90deg, #FDCC0D 0%, #FF9529 100%));
  transition: ease-in-out;
  transition-delay: 3s;
  cursor: pointer;
}

.normal_btn1:hover {
  background: var(--Light-Gradiant, linear-gradient(90deg, #FFDF00 0%, #FDCC0D 100%));
  transition: ease-in-out;
  transition-delay: 3s;
  cursor: pointer;
}

.shadow_custom {
  box-shadow: 0px 6px 36px 0px rgba(40, 35, 0, 0.05);
}

.grad_text {
  background: var(--Dark-Gradiant, linear-gradient(90deg, #FDCC0D 0%, #FF9529 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_sent {
  border-radius: 100px;
  background: var(--Light-Gradiant, linear-gradient(90deg, #FFDF00 0%, #FDCC0D 100%));
}