@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800&display=swap');

@import "tailwindcss";

@tailwind utilities;

body {
  font-family: 'Nunito Sans', sans-serif;
}

.normal_btn {
  background: var(--Light-Gradiant, linear-gradient(90deg, #FFDF00 0%, #FDCC0D 100%));
  cursor: pointer;
}

.normal_btn1 {
  background: var(--Dark-Gradiant, linear-gradient(90deg, #FDCC0D 0%, #FF9529 100%));
  cursor: pointer;
}

.normal_btn:hover {
  background: var(--Dark-Gradiant, linear-gradient(90deg, #FDCC0D 0%, #FF9529 100%));
  transition: ease-in-out;
  transition-delay: 3s;
  cursor: pointer;
}

.normal_btn1:hover {
  background: var(--Light-Gradiant, linear-gradient(90deg, #FFDF00 0%, #FDCC0D 100%));
  transition: ease-in-out;
  transition-delay: 3s;
  cursor: pointer;
}

.shadow_custom {
  box-shadow: 0px 6px 36px 0px rgba(40, 35, 0, 0.05);
}

.grad_text {
  background: var(--Dark-Gradiant, linear-gradient(90deg, #FDCC0D 0%, #FF9529 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_sent {
  border-radius: 100px;
  background: var(--Light-Gradiant, linear-gradient(90deg, #FFDF00 0%, #FDCC0D 100%));
}












/* slider */
.swiper-slide-active {
  width: 600px !important;
  height: 475px !important;
  background-image: linear-gradient(90deg, #FFDF00 0%, #FDCC0D 100%);
  border-radius: 30px !important;
  position: relative;
  /* z-index: 50;0 */
  z-index: 20;
}

.swiper-slide-active img,
.swiper-slide-active video {
  width: 100% !important;
  height: 100% !important;
  border-radius: 30px !important;
  padding: 12px;
}

.swiper-slide-active .effect-bg {
  position: absolute;
  inset: 0;
  background: url('../src/assets/effect.png') no-repeat top center / cover;
  opacity: 0.8;
  z-index: 10;
  border-radius: 10px;
  margin: 12px;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  border-radius: 30px !important;
  margin-right: 0 !important;
}

.swiper-slide video {
  width: 350px;
  height: 430px;
  border-radius: 30px !important;
}

.swiper-slide img,
video {
  display: block;
  width: 350px;
  height: 430px;
  border-radius: 30px !important;
  padding: 12px;
}

@media screen and (max-width: 768px) {

  .swiper-slide-active {
    width: 254px !important;
    height: 180px !important;
    background-image: linear-gradient(90deg, #FFDF00 0%, #FDCC0D 100%);
    border-radius: 10px !important;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img,
  .swiper-slide video {
    display: block;
    height: 180px;
  }


  .swiper-slide-active img,
  .swiper-slide-active video {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px !important;
    padding: 4px;
  }

}

/* mobile arrow */
.arrow_one {
  position: absolute !important;
  top: 0;
  right: 0;
}

.arrow_two {
  top: 0;
  right: 0;
}

.step_two {
  top: 0;
  left: 0;
}

.arrow_3 {
  padding-left: 0;
}

.arrow_5 {
  display: block;
}

@media (min-width:375px) and (max-width:424px) {
  .arrow_one {
    position: absolute !important;
    top: 30px !important;
    right: 0 !important;
  }

  .arrow_two {
    top: -2px;
    left: 0px;
  }

  .step_two {
    left: -18px !important;
    top: 132px !important;
  }

  .arrow_5 {
    display: none !important;
  }
}

.step1_card {
  margin-left: 40px;
}

@media (min-width:200px) and (max-width:374px) {
  .step1_card {
    margin-left: 0px !important;
  }

  .arrow_one {
    position: absolute !important;
    top: 30px !important;
    right: -16px !important;
  }

  .arrow_two {
    top: -2px;
    left: -22px;
  }

  .step_two {
    left: -18px !important;
    top: 132px !important;
  }

  .arrow_5 {
    display: none !important;
  }
}

@media screen and (min-width:425px) {
  .arrow_one {
    position: absolute !important;
    top: 20px !important;
    right: 13px !important;
  }

  .arrow_two {
    top: -12px;
    left: 20px;
  }

  .step_two {
    left: 0 !important;
    top: 132px !important;
  }

  .arrow_3 {
    padding-top: 12px !important;
  }
}

/* mobile arrow */



/* slider */